.page-btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    margin-top: 5px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.enable {
    background-color: #e44c1d;
}

.enable:hover {
    background-color: #d5471b;
}

.round {
    border-radius: 50%;
}